---
import '../styles/index.css';
---

<div class="boxTop">
  <h2>更新情報</h2>
  <dt>2024.05.15</dt>
  <dd><a href="#">創作サイト更新</a></dd>
  <dt>2024.05.15</dt>
  <dd><a href="#">版権サイト更新</a></dd>
  <dt>2024.05.15</dt>
  <dd><a href="#">テキストサイト更新</a></dd>
</div>
