<footer>
<p class="copy"><small>©ObuchiLitsuko 2024</small></p>
</footer>
<style>
  .copy{
    text-align: center;
    margin: 0;
    color: ghostwhite;
  }

  footer{
    max-width: 80vw;
    margin: 0 auto;
    background-color: black;
  }
</style>